<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List libraries used by Data Scientists</li>
    <li>List open source tools for Data Science</li>
    <li>Examples of arithmetic expressions in Python</li>
    </ul>

<h2>Author</h2>
Reethika Medindrao

<p>Some of the popular languages that Data Scientists use are:
<ol><li>Python</li>
<li>R</li>
<li>SQL</li></ol>
</p>

<p>Some of the commonly used libraries used by Data Scientists include:
    <ol>
        <li>Pandas</li>
        <li>Sci-kit Learn </li>
        <li>Numpy</li>
        </ol>
        </p>

<table><th>Data Science Tools</th>
    <tr><td>Apache Spark</td></tr>
    <tr><td>Apache Hadoop</td></tr>
    <tr><td>Jupyter Notebook</td></tr>
    </table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335